@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal; 
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1371 0.0360 258.5258);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1371 0.0360 258.5258);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1371 0.0360 258.5258);
  --primary: oklch(0.7713 0.1667 63.7357);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.7713 0.1667 63.7357);
  --chart-1: oklch(0.7713 0.1667 63.7357);
  --chart-2: oklch(0.1371 0.0360 258.5258);
  --chart-3: oklch(0.9125 0.1427 98.1206);
  --chart-4: oklch(0.8107 0.1098 47.2798);
  --chart-5: oklch(1.0000 0 0);
  --sidebar: oklch(0.1371 0.0360 258.5258);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7713 0.1667 63.7357);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7713 0.1667 63.7357);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.5547 0.0407 257.4404);
  --sidebar-ring: oklch(0.7713 0.1667 63.7357);
  --font-sans: 'Vazirmatn', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.375rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(222.2, 84%, 4.9%);
  --shadow-2xs: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.07);
  --shadow-xs: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.07);
  --shadow-sm: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.15), 0rem 1px 2px -1.125px hsl(222.2000 84% 4.9000% / 0.15);
  --shadow: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.15), 0rem 1px 2px -1.125px hsl(222.2000 84% 4.9000% / 0.15);
  --shadow-md: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.15), 0rem 2px 4px -1.125px hsl(222.2000 84% 4.9000% / 0.15);
  --shadow-lg: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.15), 0rem 4px 6px -1.125px hsl(222.2000 84% 4.9000% / 0.15);
  --shadow-xl: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.15), 0rem 8px 10px -1.125px hsl(222.2000 84% 4.9000% / 0.15);
  --shadow-2xl: 0rem 0.375rem 0.75rem -0.125rem hsl(222.2000 84% 4.9000% / 0.38);
  --tracking-normal: 0.03em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1371 0.0360 258.5258);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1371 0.0360 258.5258);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1371 0.0360 258.5258);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.7713 0.1667 63.7357);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.7713 0.1667 63.7357);
  --chart-1: oklch(0.7713 0.1667 63.7357);
  --chart-2: oklch(0.9838 0.0035 247.8583);
  --chart-3: oklch(0.9125 0.1427 98.1206);
  --chart-4: oklch(0.8107 0.1098 47.2798);
  --chart-5: oklch(0.7107 0.0351 256.7877);
  --sidebar: oklch(0.1371 0.0360 258.5258);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.7713 0.1667 63.7357);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.7713 0.1667 63.7357);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2800 0.0369 259.9740);
  --sidebar-ring: oklch(0.7713 0.1667 63.7357);
  --font-sans: 'Vazirmatn', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.375rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(210, 40%, 98%);
  --shadow-2xs: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.07);
  --shadow-xs: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.07);
  --shadow-sm: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.15), 0rem 1px 2px -1.125px hsl(210 40% 98% / 0.15);
  --shadow: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.15), 0rem 1px 2px -1.125px hsl(210 40% 98% / 0.15);
  --shadow-md: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.15), 0rem 2px 4px -1.125px hsl(210 40% 98% / 0.15);
  --shadow-lg: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.15), 0rem 4px 6px -1.125px hsl(210 40% 98% / 0.15);
  --shadow-xl: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.15), 0rem 8px 10px -1.125px hsl(210 40% 98% / 0.15);
  --shadow-2xl: 0rem 0.375rem 0.75rem -0.125rem hsl(210 40% 98% / 0.38);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    font-family: var(--font-sans);
  }
}
